.mainContainer{
    -fx-background-color: #222A35;
}

.subtitle{
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-text-fill: white;
}

.labelSection{
    -fx-text-fill: #7F7F7F;
    -fx-font-style: italic;
    -fx-font-size: 22px;
}

.text-field{
    -fx-background-radius: 100 100 100 100;
    -fx-font-size: 18px;
}

.combo-box{
    -fx-background-radius: 100 100 100 100;
    -fx-font-size: 18px;
}

.button{
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.confirmButton{
    -fx-background-radius: 100 100 400 100;
    -fx-border-radius: 100 100 400 100;
    -fx-background-color: #3297c4;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.confirmButton:hover{
    -fx-background-color: #32b8c4;
    -fx-effect: dropshadow(gaussian, #fff, 64.48, 0.0, 1.0, 0.0);
}

.backButton{
    -fx-background-radius: 100 100 100 400;
    -fx-border-radius: 100 100 100 400;
    -fx-background-color: #3297c4;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.backButton:hover {
    -fx-background-color: #32b8c4;
    -fx-effect: dropshadow(gaussian, #fff, 64.48, 0.0, 1.0, 0.0);
}

.msg{
    -fx-font-size: 18px;
    -fx-text-fill: red;
}