.mainContainer{
    -fx-background-color: #222A35;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 22px;
}

.subtitle{
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-text-fill: white;
}

.acceptButton{
    -fx-background-radius: 100 100 100 100;
    -fx-background-color: #3297c4;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-padding: 15;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.acceptButton:hover{
    -fx-background-color: #32b8c4;
    -fx-border-style: solid;
    -fx-border-radius: 100 100 100 100;
    -fx-border-color: white;
}

.choice-box{
    -fx-background-radius: 100 100 100 100;
}