.mainContainer{
    -fx-background-color: #222A35;
}

.allText{
    -fx-text-fill: white;
    -fx-font-size: 22px;
}

.subtitle{
    -fx-font-weight: bold;
    -fx-font-size: 23px;
    -fx-text-fill: white;
}

.acceptButton{
    -fx-background-radius: 100 100 100 100;
    -fx-background-color: #3297c4;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-padding: 15;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.acceptButton:hover{
    -fx-background-color: #32b8c4;
    -fx-border-style: solid;
    -fx-border-radius: 100 100 100 100;
    -fx-border-color: white;
    -fx-effect: dropshadow(gaussian, #fff, 64.48, 0.0, 1.0, 0.0);
}

.choice-box{
    -fx-background-radius: 100 100 100 100;
    -fx-font-size: 18px;
}

.errorMSG{
    -fx-font-weight: bold;
    -fx-background-radius: 100 100 100 100;
    -fx-padding: 10;
    -fx-font-size: 18px;
}