.mainContainer{
    -fx-background-color: #222A35;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 2em;
}

.trackButton{
    -fx-background-radius: 100 100 100 100;
    -fx-background-color: #3297c4;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-padding: 15;
    -fx-font-weight: bold;
}
.trackButton:hover{
    -fx-background-color: #32b8c4;
    -fx-border-style: solid;
    -fx-border-radius: 100 100 100 100;
    -fx-border-color: white;
}

.text-field{
    -fx-text-fill: #222A35;
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-background-radius: 100 100 100 100;
    -fx-background-color: #e1e1e1;
}